body {
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 18px;
  color: #444;
  padding: 0 10px;
}

h1,h2,h3 {
  line-height: 1.2;
}

a:link {
  color: #015A8C;
  text-decoration: none; /* Remove default underline */
  border-bottom: medium solid; /* Less overlap */
}

a:visited {
  color: #553879;
  text-decoration: none;
  border-bottom: medium solid;
}

article a:link {
  border-bottom: thin solid;
}

article a:visited {
  border-bottom: thin solid;
}

#headshot {
  max-width: 25em;
}

img {
  width: 100%;
}

/* Media queries */

        /* DESKTOP */
/* 50em, tier 1 */
@media screen and (max-width: 50em) {
  #headshot {
    max-width: 20em;
  }
}

/* 40em, tier 2 */
@media screen and (max-width: 40em) {
  #headshot {
    max-width: 50%;
  }
}

        /* MOBILE */
@media screen and (max-width: 35em) {
  #headshot {
    margin-left: 9%;
    max-width: 83.3333%;
  }
}

/* End Media queries */