body {
  margin: 40px auto;
  padding: 0 10px;
  max-width: 650px;
  line-height: 1.6;
  font-size: 18px;
  color: #444;
  font-family: 'Droid Sans', sans-serif;
  scroll-behavior: smooth; /*Animate scroll when pushing sidebar*/
}

main {
  margin-right: 4em;
}

h1,h2,h3 {
  line-height: 1.2;
}

header a:link {
  color: #015A8C;
  text-decoration: none; /* Remove default underline */
  border-bottom: medium solid; /* Less overlap */
}

header a:visited {
  color: #553879;
  text-decoration: none;
  border-bottom: medium solid;
}

article a:link {
  color: #015A8C;
}

article a:visited {
  color: #553879;
}

#headshot {
  width: 66%;
}

img {
  width: 100%;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 1em;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 92%; /* Fixes black bars from aspect ratio */
}
.sidebar {
  position: fixed;
  top:0; bottom:0; right: 0;
  width: 9vw; 
  margin: 0 auto;
  background: #004FB2; /* A nice blue, reminiscent of Facebook's blue */
  border-left: 0.2em solid #000000;
}

.interest {
  width: 50%;
  margin-left: 25%;
  padding-top: 2em;

  /* Animate on mouse off */
  -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.2s;

/* In case I implement colorization, here's transparency too. */
/*
  filter: alpha(opacity=75);
  -moz-opacity: 0.75;
  -khtml-opacity: 0.75;
  opacity: 0.75;
*/
}

.interest:hover {
  width: 70%;
  margin-left: 15%;

  /* Animate on mouse on */
  -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.2s;

/*
  filter: alpha(opacity=100);
  -moz-opacity: 1.0;
  -khtml-opacity: 1.0;
  opacity: 1.0;

*/
}

.interestWrapper {
  /* https://davidwalsh.name/css-vertical-center */
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 1em;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 92%; /* Fixes black bars from aspect ratio */
}


/* Media queries */

        /* DESKTOP */
@media screen and (max-width: 50em) {
  body {
    margin-left: 2em;
    margin-right: 2em;
    font-size: 16px;
  }

  main {
    margin-right: 5em;
  }

  .sidebar {
    width: 12vw;
  }
}

        /* MOBILE */
@media screen and (max-width: 35em) {
  body {
    margin: 0px auto;
    padding: 0 0px;
  }

  main {
    margin: 40px auto;
    padding: 0 10px;

    margin-left: 1em;
    margin-right: 1em;
    margin-top: 2em;
  }

  header {
    font-size: 12px;
    color: white;
  }

  h1, h2 {
    text-align: left;
    margin-left: 10%;
    max-width: 80%;
  }

  header a:link {
    color: white;
  }

  header a:visited {
    color: white;
  }

  #headshot {
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
  }

  .head-bg {
    background-color: #004FB2;
    padding-bottom: 1em;
    border-bottom: 0.2em solid #000000;
  }

  .sidebar {
    display: none;
  }
}

/* End Media queries */
