body {
  margin: 40px auto;
  padding: 0 10px;

  max-width: 650px;
  line-height: 1.6;
  font-size: 18px;
  color: #444;

  font-family: 'Droid Sans', sans-serif;
}

h1,h2,h3 {
  line-height: 1.2;
}

header a:link {
  color: #015A8C;
  text-decoration: none; /* Remove default underline */
  border-bottom: medium solid; /* Less overlap */
}

header a:visited {
  color: #553879;
  text-decoration: none;
  border-bottom: medium solid;
}

article a:link {
  color: #015A8C;
}

article a:visited {
  color: #553879;
}

#headshot {
  width: 66%;
}

img {
  width: 100%;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 1em;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 92%; /* Fixes black bars from aspect ratio */
}

/* Media queries */

        /* DESKTOP */
@media screen and (max-width: 50em) {
  body {
    margin-left: 2em;
    margin-right: 2em;
    font-size: 16px;
  }
}

        /* MOBILE */
@media screen and (max-width: 35em) {
  body {
    font-size: 14px;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 2em;
  }

  #headshot {
    width: 100%;
  }
}

/* End Media queries */